torch==1.13.0+cu102
torchvision==0.13.0+cu102
--extra-index-url https://download.pytorch.org/whl/cu102
torchvision==0.13.0
pandas==1.5.2
numpy==1.23.5
SimpleITK==2.2.1
tqdm==4.64.1
scikit-image==0.19.3
scikit-learn==1.1.1
transformers==4.24.0
matplotlib==3.6.2
statsmodels==0.13.2
nltk==3.8.1